body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin: 10px auto;
    padding: 8px 27px;
    font-weight: 700;
    max-width: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    border: 5px solid rgb(190, 155, 90);
    border-radius: 12px;
    position: relative;
    background-color: transparent;
    color: rgb(214, 148, 143, 0.35);
    transition: color 1s;
}
span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(124, 48, 43, 0.5);
    z-index: -1;
    transition: 2s;
}
button:hover{
    color: whitesmoke;
    transition: all 2s;
}
button:active{
    transform: scale(0.33);
}
button:hover span{
    width: 100%;
    transition: 2s;
}
